<section class="container" [ngClass]="{'form-shadow': registrationForm.touched}">
    <header>Register Form</header>
  
    <form class="form" (ngSubmit)="OnFormSubmitted()" #registrationForm="ngForm">
      <div class="column">
        <div class="input-box">
          <input type="text" placeholder="UserName" 
               name="username" ngModel required #fname="ngModel" />
          <div>
            <small *ngIf="fname.invalid && fname.touched">*UserName is a Required Field</small>
            <!-- <span *ngIf="firstName">You entered: {{ firstName }}</span> -->
          </div>
        </div>
        
        <div class="input-box">
          <input type="text" placeholder="Password" name="password" 
            ngModel required #lname="ngModel"/>
          <div>
            <small *ngIf="lname.invalid && lname.touched">*Password is a Required Field</small>
          </div>
        </div>
      </div>    
  
      <div class="column">
        <div class="input-box">
          <input type="number" placeholder="Phone Number" name="phone" ngModel required #phone="ngModel"/>
          <div>
            <small *ngIf="phone.invalid && phone.touched">*Phone is a Required Field</small>
            <!-- <span *ngIf="lastName">You entered: {{ lastName }}</span> -->
          </div>
        </div>
      </div>
  
      <div class="gender-box">
        <h3>Gender: </h3>
        <div class="gender-option">
          <div class="gender" *ngFor="let gen of genders">
            <input type="radio" [id]="gen.id" [value]="gen.value" name="gender" [ngModel]="defaultGender" />
            <label for="check-male">{{ gen.display }}</label>
          </div>
        </div>
      </div>
      <div class="role-box">
        <h3>Signup as: </h3>
        <div class="role-option">
          <div class="role" *ngFor="let role of roles">
            <input type="radio" [id]="role.id" [value]="role.value" name="role" [ngModel]="defaultGender" />
            <label for="check-male">{{ role.display }}</label>
          </div>
        </div>
      </div>

      <div class="input-box address" ngModelGroup="address" #addr="ngModelGroup">
        <label>Address</label>
        <input type="text" placeholder="Street address" name="street1" ngModel required/>
        <input type="text" placeholder="Street address line 2" name="street2" ngModel/>
        <div class="column">
          <div class="select-box">
            <select name="country" [ngModel]="defaultCountry" required>
              <option hidden>Country</option>
              <option>America</option>
              <option>Japan</option>
              <option>India</option>
              <option>Nepal</option>
            </select>
          </div>
          <input type="text" placeholder="City" name="city" ngModel required />
        </div>
        <div class="column">
          <input type="text" placeholder="State" name="region" ngModel />
          <input type="number" placeholder="Postal code" name="postal" ngModel required />
        </div>
      </div>
  
      <input type="submit" value="Submit" class="submit-btn" [disabled]="!registrationForm.valid"> 
    </form>
  </section>
  
  <!-- <section class="user-detail-container">
    <div class="user-details-container">
      <div class="user-avatar">
        <p>{{firstName.slice(0, 1).toUpperCase()}}{{lastName.slice(0, 1).toUpperCase()}}</p>
      </div>
      <div class="user-details">
        <div class="user-name">
          <h2>{{ firstName }} {{ lastName }}</h2>
        </div>
        <p><b>Email:</b> {{ emailAddress}}</p>
        <p><b>Username:</b> {{ userName }} </p>
        <p><b>Date of birth:</b> {{ dob }}</p>
        <div class="user-name">
          <h3>Address</h3>
        </div>
        <span>{{country }}</span>.
        <span>{{ city }}</span>.
        <span>{{ region }}</span>.
        <span> {{ postal }}</span>
      </div>
    </div>
  </section> -->
